.main {
  padding-top: 40px;
}

.navbar {
  background: var(--primary);
  &-brand {
    color: var(--white);
    font-weight: 700;
  }
}


table {
  margin-top: 20px;
}

.first {
  &__h4 {
    text-transform: uppercase;
    &--auto {
      font-family: 'Abril Fatface', sans-serif;
    }

    &--block {
      font-family: 'Bungee', cursive;
    }

    &--swap {

      font-family: 'Fjalla One', sans-serif;
    }

    &--fallback {
      font-family: 'Anton', sans-serif;
    }

    &--optional {
      font-family: 'Lobster', cursive;
    }

  }
}

.second {
  &__h4 {
    text-transform: uppercase;

    &--indie {
      font-family: 'Indie Flower', cursive;
    }

    &--pacifico {
      font-family: 'Pacifico', cursive;
    }

    &--bree {
      font-family: 'Bree Serif', serif;
    }

    &--shadows {
      font-family: 'Shadows Into Light', cursive;
    }

    &--acme {
      font-family: 'Acme', sans-serif;
    }
  }
}
