.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.main {
  padding-top: 40px; }

.navbar {
  background: var(--primary); }
  .navbar-brand {
    color: var(--white);
    font-weight: 700; }

.first__h4 {
  text-transform: uppercase; }
  .first__h4--auto {
    font-family: 'Abril Fatface', sans-serif; }
  .first__h4--block {
    font-family: 'Bungee', cursive; }
  .first__h4--swap {
    font-family: 'Fjalla One', sans-serif; }
  .first__h4--fallback {
    font-family: 'Anton', sans-serif; }
  .first__h4--optional {
    font-family: 'Lobster', cursive; }

.first table {
  margin-top: 20px; }

/*Responsive start*/
/*UltraLarge screens start*/
/*UltraLarge screens stop*/
/*Large screens*/
/*Laptops*/
/*Tablet*/
/*Tablet Stop*/
/*Small devices Start*/
/*Small devices Stop*/
/*Phone Start*/
/*Pages stop*/
/*Phone Stop*/
/*small phone start*/
/*small phone stop*/
/*Responsive stop*/
/* latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: local("Abril Fatface"), local("AbrilFatface-Regular"), url(https://fonts.gstatic.com/s/abrilfatface/v9/X1g_KwGeBV3ajZIXQ9VnDjxObtw73-qQgbr7Be51v5c.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: auto; }

/* latin */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local("Bungee"), local("Bungee-Regular"), url(https://fonts.gstatic.com/s/bungee/v3/86NbnFpNqZ2MU9Gl0ca2YQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: block; }

/* latin */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local("Fjalla One"), local("FjallaOne-Regular"), url(https://fonts.gstatic.com/s/fjallaone/v5/rxxXUYj4oZ6Q5oDJFtEd6vk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap; }

/* latin */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local("Anton Regular"), local("Anton-Regular"), url(https://fonts.gstatic.com/s/anton/v9/o-91-t7-bPc7W26HmS2N4Q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: fallback; }

/* latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster Regular"), local("Lobster-Regular"), url(https://fonts.gstatic.com/s/lobster/v20/cycBf3mfbGkh66G5NhszPQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: optional; }

html {
  color: #000;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0; }

body {
  color: #2a303d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
